{% extends 'base.html.twig' %}

{% block title %}{{ 'team_management.new.title'|trans }}{% endblock %}

{% block body %}
    <section class="relative bg-background py-10">
        <div class="container mx-auto px-6 lg:px-8 max-w-7xl">
            <div class="flex items-center justify-between mb-6">
                <h1 class="text-2xl text-dark">{{ 'team_management.new.title'|trans }}</h1>
            </div>

            {{ form_start(form) }}
            <div class="bg-section_1 p-6 rounded-lg shadow-lg space-y-6 border border-muted">

                <!-- Team Name Input -->
                <div class="space-y-2">
                    <label class="block text-sm font-medium text-secondary">
                        {{  'team_management.new.name'|trans  }}
                    </label>
                    {{ form_widget(form.name, {
                        'attr': { 'class': 'mt-1 block w-full px-4 py-2 border border-muted rounded-lg shadow-sm focus:ring-blue focus:border-blue text-dark bg-white' }
                    }) }}
                </div>

                <!-- User Selection (Checkboxes) -->
                <div class="p-6 bg-select border border-muted rounded-lg space-y-4">
                    <label class="block text-sm font-medium text-secondary">
                        {{  'team_management.new.asign_users'|trans  }}
                    </label>
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                        {% for choice in form.users %}
                            <div class="flex items-center space-x-3">
                                {{ form_widget(choice, { 'attr': { 'class': 'h-4 w-4 text-blue focus:ring-blue rounded' } }) }}
                                <label class="text-sm text-dark">{{ choice.vars.label }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <p class="text-xs text-muted">{{ 'team_management.new.explanation_users'|trans }}</p>
                </div>

                <!-- Project Selection (Checkboxes) -->
                <div class="p-6 bg-select border border-muted rounded-lg space-y-4">
                    <label class="block text-sm font-medium text-secondary">
                        {{  'team_management.new.projects'|trans  }}
                    </label>
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                        {% for choice in form.projects %}
                            <div class="flex items-center space-x-3">
                                {{ form_widget(choice, { 'attr': { 'class': 'h-4 w-4 text-blue focus:ring-blue rounded' } }) }}
                                <label class="text-sm text-dark">{{ choice.vars.label }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <p class="text-xs text-muted">{{ 'team_management.new.explanation_projects'|trans }}</p>
                </div>

                <!-- Submit Button -->
                <div class="flex justify-end mt-6">
                    <button type="submit"
                            class="py-3 px-6 text-lg font-medium rounded-md text-white bg-save hover:bg-blue_hoover focus:ring focus:ring-blue_hoover">
                        {{ 'team_management.new.submit'|trans }}
                    </button>
                </div>

            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}