{% extends 'base.html.twig' %}

{% block title %}{{ 'client_management.index.title'|trans }}{% endblock %}

{% block body %}
    <section class="relative bg-section_2 py-10">
        <div class="w-full max-w-7xl mx-auto px-6 lg:px-8 overflow-x-auto">
            <!-- Header Section -->
            <div class="flex items-center justify-between mb-5">
                <h1 class="text-2xl text-dark">{{ 'client_management.index.title'|trans }}</h1>

                <!-- Search Form -->
                <form method="get" action="{{ path('admin_client') }}" class="">
                    <div class="flex space-x-2">
                        <input type="text" name="search" value="{{ app.request.query.get('search', '') }}"
                               placeholder="{{ 'client_management.index.search_placeholder'|trans }}"
                               class="block w-full px-4 py-2 border rounded-md shadow-sm focus:outline-none">
                        <button type="submit"
                                class="inline-flex justify-center py-2 px-4 shadow-sm rounded-md text-white bg-search hover:bg-primary focus:outline-none">
                            {{ 'client_management.index.search'|trans }}
                        </button>
                    </div>
                </form>

                <!-- Create New Client Button -->
                <a href="{{ path('admin_client_new') }}"
                   class="inline-flex justify-center py-2 px-4 shadow-sm rounded-md text-white bg-new hover:bg-primary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-highlight">
                    {{ 'client_management.index.create_new_client'|trans }}
                </a>
            </div>

            <!-- Client List -->
            <div class="space-y-6">
                {% for client in pager.currentPageResults %}
                    <div class="bg-white p-6 rounded-lg shadow-md">
                        <form action="{{ path('admin_client_update', { id: client.id }) }}" method="post">
                            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">

                                <!-- Client Name -->
                                <div>
                                    <label for="name_{{ client.id }}" class="block text-sm">
                                        {{ 'client_management.index.name'|trans }}
                                    </label>
                                    <input type="text" name="name" id="name_{{ client.id }}" value="{{ client.name }}"
                                           class="mt-1 block w-full px-4 py-2 border border rounded-md shadow-sm focus:outline-none">
                                </div>

                                <!--  Client Address  -->
                                <div>
                                    <label for="address_{{ client.id }}" class="block text-sm">
                                        {{ 'client_management.index.address'|trans }}
                                    </label>
                                    <input type="text" name="address" id="address_{{ client.id }}" value="{{ client.adress }}"
                                           class="mt-1 block w-full px-4 py-2 border border rounded-md shadow-sm focus:outline-none">
                                </div>

                                <!--  Client Postal Code (Fixed name attribute) -->
                                <div>
                                    <label for="postalCode_{{ client.id }}" class="block text-sm">
                                        {{ 'client_management.index.postalCode'|trans }}
                                    </label>
                                    <input type="text" name="postalCode" id="postalCode_{{ client.id }}" value="{{ client.postalCode }}"
                                           class="mt-1 block w-full px-4 py-2 border border rounded-md shadow-sm focus:outline-none">
                                </div>

                                <!--  Client City -->
                                <div>
                                    <label for="city_{{ client.id }}" class="block text-sm">
                                        {{ 'client_management.index.city'|trans }}
                                    </label>
                                    <input type="text" name="city" id="city_{{ client.id }}" value="{{ client.city }}"
                                           class="mt-1 block w-full px-4 py-2 border border rounded-md shadow-sm focus:outline-none">
                                </div>

                                <!--  Client Country -->
                                <div>
                                    <label for="country_{{ client.id }}" class="block text-sm">
                                        {{ 'client_management.index.country'|trans }}
                                    </label>
                                    <input type="text" name="country" id="country_{{ client.id }}" value="{{ client.country }}"
                                           class="mt-1 block w-full px-4 py-2 border border rounded-md shadow-sm focus:outline-none">
                                </div>

                                <!--  Contact Person -->
                                <div>
                                    <label for="contact_person_{{ client.id }}" class="block text-sm">
                                        {{ 'client_management.index.contact_person'|trans }}
                                    </label>
                                    <input type="text" name="contact_person" id="contact_person_{{ client.id }}" value="{{ client.contactPerson }}"
                                           class="mt-1 block w-full px-4 py-2 border border rounded-md shadow-sm focus:outline-none">
                                </div>

                                <!--  Contact Email -->
                                <div>
                                    <label for="email_{{ client.id }}" class="block text-sm">
                                        {{ 'client_management.index.email'|trans }}
                                    </label>
                                    <input type="email" name="email" id="email_{{ client.id }}" value="{{ client.contactEmail }}"
                                           class="mt-1 block w-full px-4 py-2 border border rounded-md shadow-sm focus:outline-none">
                                </div>

                                <!-- Contact Phone -->
                                <div>
                                    <label for="phone_{{ client.id }}" class="block text-sm">
                                        {{ 'client_management.index.phone'|trans }}
                                    </label>
                                    <input type="text" name="phone" id="phone_{{ client.id }}" value="{{ client.contactPhone }}"
                                           class="mt-1 block w-full px-4 py-2 border border rounded-md shadow-sm focus:outline-none">
                                </div>
                            </div>

                            <div class="flex justify-end space-x-3 mt-4">
                                <!--  Save Button -->
                                <button type="submit"
                                        class="inline-flex justify-center py-2 px-4 shadow-sm rounded-md text-white bg-save hover:bg-primary focus:outline-none">
                                    {{ 'client_management.index.save'|trans }}
                                </button>
                            </div>
                        </form>

                    </div>
                {% endfor %}
            </div>

            <!-- Pagination Controls -->
            {% if pager.nbPages > 1 %}
                <div class="flex items-center mt-6 space-x-4">
                    {% if pager.hasPreviousPage %}
                        <a href="{{ pagerfanta_page_url(pager, pager.previousPage) }}"
                           class="inline-flex justify-center py-2 px-4 shadow-sm rounded-md text-white bg-pagination hover:bg-primary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-highlight">
                            {{ 'client_management.index.previous'|trans }}
                        </a>
                    {% endif %}
                    {% if pager.hasNextPage %}
                        <a href="{{ pagerfanta_page_url(pager, pager.nextPage) }}"
                           class="inline-flex justify-center py-2 px-4 shadow-sm rounded-md text-white bg-pagination hover:bg-primary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-highlight">
                            {{ 'client_management.index.next'|trans }}
                        </a>
                    {% endif %}
                    <div class="ml-4">
                        {{ 'client_management.index.page'|trans }} {{ pager.currentPage }}/{{ pager.nbPages }}
                    </div>
                </div>
            {% endif %}




        </div>
    </section>
{% endblock %}
