{% extends 'base.html.twig' %}

{% block title %}{{ 'client_management.new.title'|trans }}{% endblock %}

{% block body %}
    <section class="relative bg-background py-10">
        <div class="container mx-auto px-6 lg:px-8 max-w-7xl">
            <h1 class="text-2xl font-semibold text-dark mb-6">{{ 'client_management.new.title'|trans }}</h1>

            <div class="bg-section_1 p-6 rounded-lg shadow-lg border border-muted">
                {{ form_start(form) }}
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

                    <!-- Input Fields -->
                    {% for field in form %}
                        <div>
                            <label class="block text-sm font-medium text-secondary">{{ form_label(field) }}</label>
                            {{ form_widget(field, {
                                'attr': {
                                    'class': 'mt-1 block w-full px-4 py-2 border border-muted rounded-md shadow-sm focus:ring-blue focus:border-blue text-dark bg-white'
                                }
                            }) }}
                        </div>
                    {% endfor %}
                </div>

                <!-- Submit Button -->
                <div class="flex justify-end mt-6">
                    <button type="submit"
                            class="py-3 px-6 text-lg font-medium rounded-md text-white bg-save hover:bg-blue_hoover focus:ring focus:ring-blue_hoover">
                        {{ 'client_management.new.save_client'|trans }}
                    </button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}