{% extends 'base.html.twig' %}

{% block title %}Create New Client{% endblock %}

{% block body %}
    <section class="relative bg-background py-10">
        <div class="w-full max-w-7xl mx-auto px-6 lg:px-8 overflow-x-auto">
            <div class="flex items-center justify-between mb-5">
                <h1 class="text-2xl  text-dark">Create New Client</h1>
            </div>

            {{ form_start(form) }}
            <div class="bg-section_1 p-6 rounded-lg shadow-md space-y-4">
                <!-- CLient Name -->
                <div>
                    <label class="block text-sm  text-dark">
                        {{ form_label(form.name, 'client_management.new.client_name'|trans) }}
                    </label>
                    {{ form_widget(form.name, { 'attr': { 'class': 'mt-1 block w-full px-3 py-2 border border-grey-300 rounded-md shadow-sm text-dark' } }) }}
                </div>

                <!-- CLient Adress -->
                <div>
                    <label class="block text-sm  text-dark">
                        {{ form_label(form.adress, 'client_management.new.adress'|trans) }}
                    </label>
                    {{ form_widget(form.adress, { 'attr': { 'class': 'mt-1 block w-full px-3 py-2 border border-grey-300 rounded-md shadow-sm text-dark' } }) }}
                </div>

                <!-- CLient Postal Code -->
                <div>
                    <label class="block text-sm  text-dark">
                        {{ form_label(form.postalCode, 'client_management.new.postalCode'|trans) }}
                    </label>
                    {{ form_widget(form.postalCode, { 'attr': { 'class': 'mt-1 block w-full px-3 py-2 border border-grey-300 rounded-md shadow-sm text-dark' } }) }}
                </div>

                <!-- CLient City -->
                <div>
                    <label class="block text-sm  text-dark">
                        {{ form_label(form.city, 'client_management.new.city'|trans) }}
                    </label>
                    {{ form_widget(form.city, { 'attr': { 'class': 'mt-1 block w-full px-3 py-2 border border-grey-300 rounded-md shadow-sm text-dark' } }) }}
                </div>

                <!-- CLient Countru -->
                <div>
                    <label class="block text-sm  text-dark">
                        {{ form_label(form.country, 'client_management.new.country'|trans) }}
                    </label>
                    {{ form_widget(form.country, { 'attr': { 'class': 'mt-1 block w-full px-3 py-2 border border-grey-300 rounded-md shadow-sm text-dark' } }) }}
                </div>


                <!-- Contact Name -->
                <div>
                    <label class="block text-sm  text-dark">
                        {{ form_label(form.contactPerson, 'client_management.new.contact_name'|trans) }}
                    </label>
                    {{ form_widget(form.contactPerson, { 'attr': { 'class': 'mt-1 block w-full px-3 py-2 border border-grey-300 rounded-md shadow-sm text-dark' } }) }}
                </div>

                <!-- Contact Email -->
                <div>
                    <label class="block text-sm text-dark">
                        {{ form_label(form.contactEmail, 'client_management.new.client_email'|trans) }}
                    </label>
                    {{ form_widget(form.contactEmail, { 'attr': { 'class': 'mt-1 block w-full px-3 py-2 border border-grey-300 rounded-md shadow-sm text-dark' } }) }}
                </div>

                <!-- Contact Phone -->
                <div>
                    <label class="block text-sm font-medium text-gray-700">
                      {{ form_label(form.contactPhone, 'client_management.new.client_phone'|trans) }}
                    </label>
                    {{ form_widget(form.contactPhone, { 'attr': { 'class': 'mt-1 block w-full px-3 py-2 border border-grey-300 rounded-md shadow-sm text-dark' } }) }}
                </div>

                <!-- Submit Button -->
                <div class="flex justify-end">
                    <button type="submit"
                            class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-success hover:bg-primary focus:outline-none">
                        {{ 'client_management.new.save_client'|trans }}
                    </button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}