<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <!-- Top Menu -->

    <nav class="bg-primary text-white px-6 py-4">
        <div class="max-w-6xl mx-auto flex flex-col md:flex-row md:justify-between items-center space-y-4 md:space-y-0">

            <!-- Logo -->
            <a href="#" class="flex items-center space-x-3">
                <img src="{{ asset('images/logo.svg') }}" alt="Logo" class="h-16">
                <span class=" font-logo  sm:text-4xl hidden sm:inline ">Hest Test Calender</span>
            </a>
            <!-- Login/User -->
            <div class="flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-6">
                {% if app.user %}
                    <div class="flex items-center space-x-3">
                        <img src="{{ asset('images/user-avatar.png') }}" alt="User Avatar" class="h-8 w-8 rounded-full">
                        <span class="text-lg">{{ app.user.username }}</span>
                        <a href="#" class=" px-4 py-2 rounded-lg text-white hover:bg-white hover:text-primary transition">Logout</a>
                    </div>
                {% else %}
                    <a href="#" class=" px-4 py-2 rounded-lg text-white hover:bg-white hover:text-primary transition">Login</a>
                {% endif %}
                <!-- Language -->
                <a href="#" class="flex items-center space-x-1">
                    <img src="{{ asset('icons/globe.svg') }}" alt="Globe" class="h-4">
                    <span>Dansk</span>
                </a>
            </div>

        </div>
    </nav>


        {% block body %}{% endblock %}
    </body>
</html>
