<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        <!-- Standard Favicon -->
        <link rel="icon" type="image/x-icon" href="{{ asset('icons/favicons/favicon.ico') }}">

        <!-- PNG Favicons -->
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('icons/favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('icons/favicons/favicon-16x16.png') }}">

        <!-- Apple Touch Icon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('icons/favicons/apple-touch-icon.png') }}">

        <!-- Android Chrome Icons -->
        <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('icons/favicons/android-chrome-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="512x512" href="{{ asset('icons/favicons/android-chrome-512x512.png') }}">

        <!-- Web Manifest -->
        <link rel="manifest" href="{{ asset('icons/favicons/site.webmanifest') }}">

        <!-- Theme Color (for mobile browsers) -->
        <meta name="theme-color" content="#ffffff">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <body>
        {% include 'components/_navbar.html.twig' %}

    {#    <!-- User menu -->#}
{#    {% include 'components/_navbar_user.html.twig' %}#}
{#    <!-- Admin menu -->#}
{#    {% if is_granted('ROLE_ADMIN') %}#}
{#        {% include 'components/_navbar_admin.html.twig' %}#}
{#    {% endif %}#}

    <!-- Content Section -->
    <main class="flex-grow bg-background">
    {% block body %}{% endblock %}
    </main>

    <!-- Footer Section -->
    {% include 'components/_footer.html.twig' %}
    </body>
</html>
